<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/speechstyle.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js" integrity="sha512-yNJzAsg5JyP91u+sLHlUDULMBd3hmEiVkYeeN1cQBKaLZ7EyT6oH2u5THNIRM2Fu6VKcZJv+F/QAp1h/qzy9Ow==" crossorigin="anonymous"></script>
		<script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
		<!-- <script type="module" src="../static/scene.js"></script> -->
<!-- 		<script type="module">

		  // Find the latest version by visiting https://unpkg.com/three. The URL will
		  // redirect to the newest stable release.
		  import * as THREE from 'https://cdnjs.cloudflare.com/ajax/libs/three.js/r122/three.min.js';
		<script type="module">
		  import { GLTFLoader } from "https://cdn.jsdelivr.net/npm/three@0.121.1/examples/jsm/loaders/GLTFLoader.js";
		</script>

		</script> -->
	</head>
	<body>

		<section id="loading-screen">
			<div id="loader"></div>
		</section>

		<canvas id="c"></canvas>

		<button class="button mic">
			<img id="mic-icon" src="/static/img/mic-on.svg">
		</button>

		<div class="parent"><div class="textoverlay top" id="texttop" style="display:none;"></div></div>
		<div class="parent bottom"><div class="textoverlay" id="instructions" style="display:none;"></div></div>
		<audio id="audio" controls autoplay hidden></audio>
		
		<script type="text/javascript">
			let i = 0;
			let txt = 'Hallo, welkom bij de projectpagina van pwo space.';
			let txtbot = 'Klik op de microfoon rechtsonder om de client te verwelkomen.';
			let speed = 80; //milliseconds
			let playanimation = true;

			function topWriter() {
				if(!playanimation) return;
				if (i < txt.length) {
					document.getElementById("texttop").innerHTML += txt.charAt(i);
					i++;
					setTimeout(topWriter, speed);
				}
				else {
					i = 0;
					document.getElementById("instructions").style.display = ""
					setTimeout(bottomWriter, 1000);
					setTimeout( function() {document.querySelector('.button.mic').classList.add("pulse")}, 3000);
				}
			}

			function bottomWriter() {
				if(!playanimation) return;
				if (i < txtbot.length) {
					document.getElementById("instructions").innerHTML += txtbot.charAt(i);
					i++;
					setTimeout(bottomWriter, speed);
				}
			}

			const loadingScreen = document.getElementById('loading-screen');
			
			loadingScreen.addEventListener('transitionend', () => {
				document.getElementById("texttop").style.display = ""
			  	topWriter();
			});
		</script>
	</body>
	<script type="text/javascript" src="/static/scene.js"></script>
	<script type="text/javascript" src="/static/speech.js" ></script>
</html>